.data-scroll-container{
    text-align: center;
}

.top-container{
    width: 100%;
    text-align: center;
}

.scroll-progress-tracking-container{
    width: 100%;
    height: 10px;
}

.current-progress-bar{
    position: fixed;
    top:0;
    z-index: 1;
    height: 10px;
    background-color: #8b02b5;
    width: 0%;
}